<style>
  body {
    font-family: Calibri;
    font-size: 16;
  }
</style>

<body>

  <% require 'devise/version' %>
  <p><%= I18n.t('.dear', :recipient => @resource.first_name, :default => "Dear #{@resource.first_name},") %></p>

  <p><%= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.") %></p>

  <p><%= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => (Devise::VERSION.start_with?('4.') ? @token : @resource.reset_password_token)) %></p>

  <p>
    <%= t('.instruction_2', :default => "If you didn't request this, please ignore this email.") %><br/>
    <%= t('.instruction_3', :default => "Your password won't change until you access the link above and create a new one.") %>
  </p>
  <br/>
  <p>

  Jouve & Associés <br/>
  54 avenue Marceau <br/>
  75008 Paris<br>
  Tel : (33)1 40 70 90 00
  </p>

</body>
