<div class="card-candidate">
  <div class="row">

    <div class="col-xs-3">
      <div class="candidate-avatar text-center">
        <% if candidate.photo.url %>
          <%= cl_image_tag candidate.photo,:width=>100, :height=>100, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "img-round" %>
        <%else%>
          <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-very-large"%>
        <%end%>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="candidate-infos">
        <h4> <%= candidate.first_name.capitalize %> <%= candidate.last_name.upcase%> </h4>
      </div>
      <div class="resume-link">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modal_<%=candidate.id%>">
          <i class="fa fa-file-o" aria-hidden="true"></i>
          <%= I18n.t(".candidates.resume")%>
        </button>
      </div>
      <div class="collapse-arrow text-center">
        <%=link_to "#collapse_#{candidate.id}",
            data: {toggle:"collapse"},
            aria: {expanded: false, controls:"collapseExample"} do %>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        <%end%>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="actions-jouve">
        <div class="action-admin text-right">
          <%if current_user.jouve%>
            <p>
              <%= link_to edit_mission_candidate_path(mission_id:candidate.mission, id: candidate.id ) do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end%>
              <%= link_to mission_candidate_path(mission_id:candidate.mission, id: candidate.id), method: :delete, data: { confirm: "Etes-vous sure?" } do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <%end%>
            </p>
          <%end%>
        </div>
        <div class="candidate-status">
          <% case candidate.status%>
          <% when "contact_in_progress"%>
            <p> <%= I18n.t(".candidates.contact_in_progress") %></p>
          <% when "jouve_interviewing"%>
            <p> <%= I18n.t(".candidates.jouve_interviewing") %></p>
          <% when "client_interviewing"%>
            <p> <%= I18n.t(".candidates.client_interviewing") %></p>
          <%end%>

        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="collapse" id="collapse_<%=candidate.id%>">
          <div class="card card-block">
            <h5><%= I18n.t (".candidates.next_meetings")%> :</h5>
            <!-- <div class="candidate-comments">
              <div class="client-comments">
                <h5>Commentaires Client</h5>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              </div>
              <div class="jouve-comments">
                <h5>Commentaires Jouve</h5>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

              </div>
            </div> -->
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modal_<%=candidate.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="myModalLabel"><%= candidate.first_name%> <%= candidate.last_name.upcase%></h4>
      </div>
      <div class="modal-body">
        <%= cl_image_tag candidate.resume, :format => :png%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t(".close") %></button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
