<div class="card-candidate" data-candidate_id=<%= candidate.id %> >
  <div class="row">

    <div class="col-xs-5 col-sm-3">
      <div class="candidate-avatar text-center">
        <% if candidate.photo.url %>
          <%= cl_image_tag candidate.photo,:width=>100, :height=>100, :gravity=>"face", :radius=>"max", :crop=>"fill", class: "img-round" %>
        <%else%>
          <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-very-large"%>
        <%end%>
      </div>
      <div class="action-admin text-center hidden-sm hidden-md hidden-lg ">
        <%if current_user.jouve%>
          <p>
            <%= link_to edit_mission_candidate_path(mission_id:candidate.mission, id: candidate.id ) do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <% end%>
            <%= link_to mission_candidate_path(mission_id:candidate.mission, id: candidate.id), method: :delete, data: { confirm: I18n.t(".sweetalerts.sure"), :'confirm-button-text' => I18n.t(".sweetalerts.yes-choice"), :'cancel-button-text' => I18n.t(".sweetalerts.no-choice"), :'confirm-button-color' => '#4AE3B5', :'image-url' => image_path('logo-HQ.jpg') } do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <%end%>
          </p>
        <%end%>
      </div>
    </div>

    <div class="col-xs-7 col-sm-9">

      <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-offset-1">
          <!-- <div class="wrapper-middle-candidate"> -->

            <div class="candidate-infos">
              <h4> <%= candidate.first_name.capitalize %> <%= candidate.last_name.upcase%> </h4>
            </div>

            <!-- Test la présence de résumé -->
            <% if candidate.resume.url %>
              <div class="resume-link">
                <!-- Button triger de modal excepté sur petit devices-->
                <button type="button" class="btn btn-link hidden-xs" data-toggle="modal" data-target="#modal_<%=candidate.id%>">
                  <i class="fa fa-file-o" aria-hidden="true"></i>
                  <%= I18n.t(".candidates.resume")%>
                </button>
                <!-- Lien vers autre page pour display pdf sur petit device -->
                <%=link_to "http://res.cloudinary.com/jouve/#{candidate.resume.identifier}", class:"btn btn-link hidden-sm hidden-md hidden-lg", target:"_blank" do %>
                  <i class="fa fa-file-o" aria-hidden="true"></i>
                  <%= I18n.t(".candidates.resume")%>
                <%end%>
              </div>
            <%end%>

          <!-- </div> -->
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="actions-jouve">
            <div class="action-admin text-right hidden-xs">
              <%if current_user.jouve%>
                <p>
                  <%= link_to edit_mission_candidate_path(mission_id:candidate.mission, id: candidate.id ) do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <% end%>
                  <%= link_to mission_candidate_path(mission_id:candidate.mission, id: candidate.id), method: :delete, data: { confirm: I18n.t(".sweetalerts.sure"), :'confirm-button-text' => I18n.t(".sweetalerts.yes-choice"), :'cancel-button-text' => I18n.t(".sweetalerts.no-choice"), :'confirm-button-color' => '#4AE3B5', :'image-url' => image_path('logo-HQ.jpg') } do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <%end%>
                </p>
              <%end%>
            </div>
            <div class="candidate-status">
              <% case candidate.status%>
              <% when "contact_in_progress"%>
                <p> <%= I18n.t(".candidates.contact_in_progress") %></p>
              <% when "jouve_interviewing"%>
                <p> <%= I18n.t(".candidates.jouve_interviewing") %></p>
              <% when "client_interviewing"%>
                <p> <%= I18n.t(".candidates.client_interviewing") %></p>
              <% when "withdrew"%>
                <p> <%= I18n.t(".candidates.withdrew") %></p>
              <% when "rejected"%>
                <p> <%= I18n.t(".candidates.rejected") %></p>
              <%end%>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="collapse-arrow text-center">
    <%=link_to "#collapse_#{candidate.id}",
        data: {toggle:"collapse"},
        aria: {expanded: false, controls:"collapseExample"} do %>
      <i class="drop_<%= candidate.id%> fa fa-angle-down" aria-hidden="true"></i>
    <%end%>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="collapse" id="collapse_<%=candidate.id%>">
          <div class="card card-block">
            <!-- Tab des rendez-vous -->
            <%= render "appointments/tab_appointments", mission: @mission, candidate: candidate%>

              <!-- Ajouter une condition sur le statut du candidat -->
              <!-- Triger de modal sur le rdv -->
              <% if current_user.jouve%>
                <button class="btn btn-link" data-toggle="modal" data-target="#myNewAppointmentModal_<%=candidate.id%>">
                  <%= I18n.t(".appointments.add_appointment")%>
                </button>
              <%end%>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Modal de CV -->
<div class="modal fade bd-example-modal-lg" id="modal_<%=candidate.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center" id="myModalLabel"><%= candidate.first_name%> <%= candidate.last_name.upcase%></h4>
      </div>
      <div class="modal-body">
        <!-- <div class="embed-responsive embed-responsive-16by9"> -->
        <div class="iframe-container" style="overflow:auto;-webkit-overflow-scrolling: touch;">
          <iframe src=<%= cloudinary_url(candidate.resume, secure: true) %>></iframe>
        </div>
        <!-- </div> -->
        <!-- # cl_image_tag candidate.resume, :format => :png -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= I18n.t(".close") %></button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


<!-- Modal de new rdv -->
<div class="modal fade" id="myNewAppointmentModal_<%= candidate.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= I18n.t(".appointments.appointment")%></h4>
      </div>
      <div class="modal-body">
        <!-- form ajout de rdv -->
        <%= simple_form_for([@mission, candidate, appointment]) do |f| %>
          <%= f.input :begins_at, as: :datetime_picker, label: I18n.t(".appointments.schedule")%>
          <%= f.input :interviewer_first_name, label: I18n.t(".appointments.interviewer_first_name")%>
          <%= f.input :interviewer_last_name, label: I18n.t(".appointments.interviewer_last_name")%>
          <%= f.input :interviewer_position, label: I18n.t(".appointments.interviewer_position")%>
      </div>
      <div class="modal-footer">
          <%= f.submit class:"btn btn-danger"%>
        <%end%>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t(".close")%></button>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
<script>
  $(document).ready(function(){
    $("#collapse_<%= candidate.id%>").on('shown.bs.collapse', function() {
      $(".drop_<%=candidate.id%>").addClass('fa-angle-up').removeClass('fa-angle-down');
    });
    $("#collapse_<%= candidate.id%>").on('hide.bs.collapse', function() {
      $(".drop_<%=candidate.id%>").addClass('fa-angle-down').removeClass('fa-angle-up');
    });



  });
</script>

<%end%>




<!-- <script src="https://github.com/pipwerks/PDFObject/blob/master/pdfobject.min.js"></script> -->


