<div id="form-candidate-content">
  <%= simple_form_for ([mission, candidate]) do |f|%>
    <%= f.input :first_name, label: I18n.t(".candidates.first_name")%>
    <%= f.input :last_name, label: I18n.t(".candidates.last_name")%>
    <%= f.input :status, label: I18n.t(".candidates.status"), collection: Candidate::STATUS, include_blank: false%>
    <%= f.input :compensation_fix, label: I18n.t(".candidates.compensation_fix")%>
    <%= f.input :compensation_variable, label: I18n.t(".candidates.compensation_variable")%>
    <%= f.input :compensation_others, label: I18n.t(".candidates.compensation_others")%>
    <%= f.input :resume, label: I18n.t(".candidates.resume")%>
    <%= f.input :resume_cache, as: :hidden %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="text-center">
      <%= f.button :submit, class:'btn navbar-wagon-button'%>
    </div>
  <%end%>
</div>
