<div class="card-mission">
  <%= link_to "", mission_path(mission), class: "card-mission-link"%>
  <div class="card-mission-title">
    <h4><%= mission.title %></h4>
  </div>
  <div class="mission-date">
    <p><%= I18n.t('.missions.show.created_at') %> : <%= I18n.localize mission.created_at, format: :date_month_year_concise%></p>
  </div>
  <div class="mission-status">
    <%= I18n.t('.missions.show.status')%> :
    <% case mission.status%>
      <% when "in_progress"%>
        <%= I18n.t(".missions.in_progress") %>
      <% when "closed"%>
         <%= I18n.t(".missions.closed") %>
      <% when "cancelled"%>
         <%= I18n.t(".missions.cancelled") %>
    <%end%><!-- Rajouter le status dans la DB -->
  </div>
</div>
