<div id="form-mission-content">
  <%= simple_form_for (mission) do |f|%>
    <%= f.input :title, label: I18n.t(".missions.show.title")%>

    <%= f.association :company, label: I18n.t(".missions.show.company"), label_method: :name, value_method: :id, include_blank: false%>
    <%= f.input :status, label: I18n.t(".missions.show.status"), collection: Mission::STATUS%>
    <%= f.association :associate, label: I18n.t(".missions.show.associate"), collection: team_jouve, label_method: :full_name, value_method: :id, include_blank: false %>
    <%= f.association :consultant, label: I18n.t(".missions.show.consultant"), collection: team_jouve, label_method: :full_name, value_method: :id, include_blank: false %>
    <%= f.association :assistant, label: I18n.t(".missions.show.assistant"), collection: team_jouve, label_method: :full_name, value_method: :id, include_blank: false  %>

    <div id="form-mission-clients">
      <div class="client-field">
      <%= f.association :users, label: I18n.t(".missions.show.client"), collection: not_jouve,
                         label_method: :email, value_method: :id, multiple: true,
                         :input_html => {:class => "chzn-select form-control", :data => { :placeholder => 'Choose email for your clients' }}%>



      </div>
      <!-- Button trigger modal -->
      <a href="#" type="button" class="btn btn-link" data-toggle="modal" data-target="#myClientModal"><%= I18n.t(".missions.show.add_a_client")%></a>
    </div>

    <div class="text-center">
      <%= f.button :submit, class:'btn navbar-wagon-button'%>
    </div>
  <%end%>
</div>



<!-- Modal -->
<div class="modal fade" id="myClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">New client</h4>
      </div>
      <div class="modal-body">

        <!-- autre test -->
        <%= form_for client, :url => add_client_path(mission_id: mission.id), remote: true do |f| %>
          <fieldset class="form-group">
          <%= f.label :first_name, label: I18n.t(".users.first_name")%>:
          <%= f.text_field :first_name, class:"form-control" %>
          </fieldset>
          <fieldset class="form-group">
          <%= f.label :last_name %>:
          <%= f.text_field :last_name, class:"form-control" %>
          </fieldset>
          <fieldset class="form-group">
          <%= f.label :email %>:
          <%= f.text_field :email, class:"form-control" %>
          </fieldset>

          <div class="hidden" id="modal-errors-messages" style="color: #800000;">Sorry this client might already exists or you mistype its informations. </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Create this new client", class:"btn btn-danger" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
