<div id="form-mission-content">
  <%= simple_form_for (mission) do |f|%>
    <%= f.input :title, label: I18n.t(".missions.show.title") %>
    <div id="error-title" class="hidden" style="color:#800000;">
      <p>
        <%= I18n.t(".missions.error-title")%>
      </p>
    </div>
    <%= f.association :company, collection: Company.order(:name), label: I18n.t(".missions.show.company"), label_method: :name, value_method: :id, include_blank: false%>
    <%= f.input :status, label: I18n.t(".missions.show.status"), collection: Mission::STATUS%>
    <%= f.association :associate, label: I18n.t(".missions.show.associate"), collection: partners, label_method: :full_name, value_method: :id, include_blank: false %>
    <%= f.association :consultant, label: I18n.t(".missions.show.consultant"), collection: team_jouve, label_method: :full_name, value_method: :id, include_blank: false %>
    <%= f.association :assistant, label: I18n.t(".missions.show.assistant"), collection: team_jouve, label_method: :full_name, value_method: :id, include_blank: false  %>

    <div id="form-mission-clients">
      <div class="client-field">
      <%= f.association :users, label: I18n.t(".missions.show.client"), collection: not_jouve,
                         label_method: :email, value_method: :id, multiple: true,
                         :input_html => {:class => "chzn-select form-control", :data => { :placeholder => I18n.t(".missions.show.choose_clients_mail") }}%>



      </div>
      <!-- Button trigger modal -->
      <a href="#" type="button" class="btn btn-link" data-toggle="modal" data-target="#myClientModal"><%= I18n.t(".missions.show.add_a_client")%></a>
    </div>

    <div class="text-center">
      <%= f.button :submit, class:'btn navbar-wagon-button'%>
    </div>
  <%end%>
</div>



<!-- Modal -->
<div class="modal fade" id="myClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel"><%= I18n.t(".users.clients.new")%></h4>
      </div>
      <div class="modal-body">

        <!-- autre test -->
        <%= form_for client, :url => add_client_path(mission_id: mission.id), remote: true do |f| %>
          <fieldset class="form-group">
          <%= f.label :first_name, value: I18n.t(".users.first_name")%>:
          <%= f.text_field :first_name, class:"form-control" %>
          </fieldset>
          <fieldset class="form-group">
          <%= f.label :last_name,value: I18n.t(".users.last_name") %>:
          <%= f.text_field :last_name, class:"form-control" %>
          </fieldset>
          <fieldset class="form-group">
          <%= f.label :email %>:
          <%= f.text_field :email, class:"form-control" %>
          </fieldset>

          <div class="hidden" id="modal-errors-messages" style="color: #800000;"><%= I18n.t(".users.error_on_duplicate")%></div>
      </div>
      <div class="modal-footer">
        <%= f.submit I18n.t(".users.clients.create"), class:"btn btn-danger" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= I18n.t(".close")%></button>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
  $(document).ready(function(){
    $('.chzn-select').chosen();

    // Gestion titre vide
    $("#new_mission").submit(function(){
        var isFormValid = true;


        if ($.trim($("#mission_title").val()).length == 0){
            console.log("titre non valide");
            $("#error-title").removeClass('hidden');
            isFormValid = false;
        }
        else{
            console.log("titre valide");
        }

        // if (!isFormValid) ;

        return isFormValid;
    });
  });

  </script>
<% end %>

