<div class="wrapper-gray">
  <div class="container" id="dashboard-mission-headers">
    <h1><%= t ".title" %></h1>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="search">
          <form action="#" method="get" id="form-search">
            <div class="input-group">
              <%= text_field_tag(:q, params[:q], placeholder: "ex: DRH - Kering", class: "form-control", id: "q")%>
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button" id="submit-search"><i class="fa fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="tabs-navigation">
      <ul class="tabs list-inline">
        <li class="tab active" data-target="#current">
          <div >
            <p><%= t ".current" %></p>
          </div>
        </li>
        <% if @past_missions.any? %>
        <li class="tab" data-target="#history">
          <div>
            <p><%= t ".history" %></p>
          </div>
        </li>
        <%end%>
      </ul>
    </div>





  </div>


  <div class="container">
    <div class="tab-content" id="current">
      <% if @current_missions.empty?%>
        <div class="row">
          <div class="col-xs-11" id="no-current-mission">
            <p>
              <%= I18n.t(".missions.index.no-current-mission")%>
            </p>
          </div>
        </div>
      <%else%>

        <% @current_missions.each do |mission|%>
          <div class="row">
            <div class="col-xs-11">
              <%= render "missions/card_mission", mission: mission%>
            </div>
          </div>
        <%end%>

      <%end%>
    </div>

    <div class="tab-content hidden" id="history">
      <!-- message info no links -->
      <%unless current_user.jouve%>
      <div id="message-no-link">
        <p><%= I18n.t(".missions.index.no-history-links")%></p>
      </div>
      <%end%>
      <% @past_missions.each do |mission|%>
        <div class="row">
          <div class="col-xs-11">
            <%= render "missions/card_mission", mission: mission%>
          </div>
        </div>
      <%end%>
    </div>

  </div>
</div>



<% content_for(:after_js) do %>
  <script>

    $(document).ready(function(){
      // Effet sur cartes
      $( ".card-mission" ).hover(function() {
          $(".card-mission").addClass('fadded');
          $(this).removeClass('fadded');
        }, function () {
          $(".card-mission").removeClass("fadded");
        }
      );


      $(".tab").on("click", function(e){
        // Change active tab
        $(".active").removeClass('active');
        $(this).addClass('active');
        // Hide all tab-content (use class="hidden")
        $(".tab-content").addClass('hidden');
        // Show target tab-content (use class="hidden")
        console.log($(this).data("target"));
        $($(this).data("target")).removeClass('hidden');
      });


      $( "#submit-search" ).click(function() {
        $( "#form-search" ).submit();
      });
      // var client = algoliasearch("N3Q3VYZZXP", "edecc8e4f38edc8b580476f42c88b629");
      // var index = client.initIndex('title');
      // autocomplete('#search-input', {hint: false}, [
      //   {
      //     source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
      //     displayKey: 'my_attribute',
      //     templates: {
      //       suggestion: function(suggestion) {
      //         return suggestion._highlightResult.my_attribute.value;
      //       }
      //     }
      //   }
      // ]).on('autocomplete:selected', function(event, suggestion, dataset) {
      //   console.log(suggestion, dataset);
      // });

    });



  </script>

  <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="//cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
  <script>
    // var client = algoliasearch('N3Q3VYZZXP', 'edecc8e4f38edc8b580476f42c88b629')
    // var index = client.initIndex('Mission');
    // $('#q').autocomplete({ hint: false }, [
    //   {
    //     source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5 }),
    //     displayKey: 'title',
    //     templates: {
    //       suggestion: function(suggestion) {
    //         return suggestion._highlightResult.title.value;
    //       }
    //     }
    //   }
    // ]).on('autocomplete:selected', function(event, suggestion, dataset) {
    //   console.log(suggestion, dataset);
    // });
  </script>
<% end %>
