<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <h3><%= @mission.title %></h3>
      <h4><%= @mission.company.name.capitalize%></h4>
      <div class="mission-date">
        <p><%= I18n.t('.missions.show.created_at') %> : <%= I18n.localize @mission.created_at, format: :date_month_year_concise%></p>
      </div>
      <div class="mission-status">
        <ul class="list-inline">
          <li>
            <%= I18n.t('.missions.show.status')%> :
          </li>
          <li>
            <% case @mission.status%>
              <% when "in_progress"%>
                <p> <%= I18n.t(".missions.in_progress") %></p>
              <% when "closed"%>
                <p> <%= I18n.t(".missions.closed") %></p>
              <% when "cancelled"%>
                <p> <%= I18n.t(".missions.cancelled") %></p>
            <%end%>
          </li>
        </ul>
      </div>

      <p>
        <%= link_to I18n.t(".missions.edit_mission"), edit_mission_path(@mission) %>
      </p>

      <div id="candidates-count">
        <h4><%=pluralize(@mission.candidates.size, t(".candidate"))%></h4>
      </div>
      <p>
        <%= link_to new_mission_candidate_path(@mission) do %>
          <i class="fa fa-plus" aria-hidden="true"></i> <%= I18n.t(".missions.add_candidate")%>
        <%end%>
      </p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="team-jouve">
          <h4 class="text-center"><%= I18n.t(".missions.team")%></h4>
        <div class="associate">
          <div class="team-avatar text-center">
            <%if @mission.associate.photo.url %>
                <%= cl_image_tag @mission.associate.photo, width: 80, height: 80, gravity:"face", radius:"max", crop:"fill", class: "img-round" %>
              <%else%>
                <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-very-large"%>
              <%end%>
          </div>
          <div class="team-infos">

              <div class="name"><%= @mission.associate.full_name%></div>
              <div class="position"><%= I18n.t(".missions.show.associate")%></div>

          </div>
        </div>

        <div class="consultant">
          <div class="team-avatar text-center">
            <%if @mission.consultant.photo.url %>
              <%= cl_image_tag @mission.consultant.photo, width: 50, height: 50, gravity:"face", radius:"max", crop:"fill", class: "img-round" %>
            <%else%>
              <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-large"%>
            <%end%>
          </div>
          <div class="team-infos">

              <div class="name"><%= @mission.consultant.full_name%></div>
              <div class="position"><%= I18n.t(".missions.show.consultant")%></div>

          </div>
        </div>

        <div class="assistant">
          <div class="team-avatar text-center">
            <%if @mission.assistant.photo.url %>
              <%= cl_image_tag @mission.assistant.photo, width: 50, height: 50, gravity:"face", radius:"max", crop:"fill", class: "img-round" %>
            <%else%>
              <%= image_tag "http://www.fao.org/fileadmin/templates/aiq2013/images/user-placeholder.jpg", class:"avatar-large"%>
            <%end%>
          </div>
          <div class="team-infos">

              <div class="name"><%= @mission.assistant.full_name%></div>
              <div class="position"><%= I18n.t(".missions.show.assistant")%></div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="wrapper-gray-light">
  <div class="container">
    <div class="candidates-list">
      <%@mission.candidates.each do |candidate| %>
        <%= render "candidates/card_candidate", candidate: candidate %>
      <%end%>
    </div>
  </div>
</div>
